---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Hero2 from '~/components/widgets/Hero2.astro';

import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Pricing from '~/components/widgets/Pricing.astro';


import Testimonials from '~/components/widgets/Testimonials.astro';
import WhatsApp from '~/components/widgets/WhatsApp.astro';

import ArxaTEC from '~/assets/images/ARXATEC.png';


const appStoreImg = '~/assets/images/app-store.png';
const appStoreDownloadLink = 'https://github.com/onwidget/astrowind';

const googlePlayImg = '~/assets/images/google-play.png';
const googlePlayDownloadLink = 'https://github.com/onwidget/astrowind';


import Button from '~/components/ui/Button.astro';
import Image from '~/components/common/Image.astro';
import Card from '~/components/widgets/Card.astro';

const metadata = {
  title: 'ArxaTEC - Consultas Laborales',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Card>


  </Card>
  

  <Hero2
    tagline="Simplifica tus consultas legales con"
    actions={[
      { variant: 'primary', target: '_blank', text: 'Iniciar consulta', href: '#' },
      { text: 'Mas informacion', href: '#features' },
    ]}
    image={{
      src: ArxaTEC,
      alt: 'AstroWind Hero Image',
      style: 'border-radius: 50%; width: 500px; height: 500px; object-fit: cover; filter: brightness(0.9); position: relative; top: -20px;',
    }}

  >

  <Fragment slot="title">
    ArxaTEC: tu aliado <span style="color: #3A35A0;" class="highlight">

      en Derecho Laboral</span><br />
</Fragment>

<Fragment slot="subtitle">
  <span class="hidden sm:inline">
    
    Optimiza tu experiencia legal con <span class="font-semibold">ArxaTEC</span>. Accede a asesoría laboral especializada y tecnología avanzada para resolver tus casos de manera rápida y eficiente.
  </span>
</Fragment>


  </Hero2>

  

  <!-- Note Widget ******************* -->

  <Note />

  <Features2
  title="Sobre Nosotros"
  subtitle="En ArxaTEC ayudamos a las personas a conocer y defender sus derechos laborales, brindando asesoría rápida y confiable en cada paso del camino."

  callToAction={{
    target: '_blank',
    text: 'Conocer más sobre nosotros',
    href: '/homes/personal',
    icon: 'tabler:chevron-right',
  }}
>
  <Fragment slot="bg">
    <div class="absolute inset-0 bg-gray-50 dark:bg-transparent"></div>
  </Fragment>
</Features2>




<Stats
  title="Conoce el impacto de ArxaTEC"
  subtitle="Los números a continuación reflejan la confianza que nuestros usuarios depositan en nosotros y los resultados que hemos logrado juntos en la defensa de sus derechos laborales."
  stats={[
    { title: "Consultas procesadas", amount: '1.2K' },
    { title: 'Abogados especializados en derecho laboral', amount: '35' },
    { title: 'Tiempo promedio de respuesta', amount: '24h' },
    { title: 'Satisfacción de usuarios', amount: '82%' },
  ]}
/>




  <!-- Features Widget *************** -->
  <Features
  id="features"
  title="¿Por qué elegir ArxaTEC?"
  subtitle="Cada una de las siguientes características mejora la propuesta de valor de ArxaTEC."
  columns={2}
  items={[
    {
      title: 'Plataforma legal especializada en Derecho Laboral',
      description:
        'Ofrecemos una potente combinación de consultas legales específicas en Derecho Laboral, optimizando tanto la asesoría como la experiencia del usuario.',
      icon: 'tabler:layers-union',
    },
    {
      title: "Diseño adaptable para trabajadores",
      description: "ArxaTEC se adapta perfectamente a las necesidades legales de los trabajadores, ofreciendo un diseño versátil que facilita la resolución de cualquier situación laboral.",
      icon: "tabler:artboard"
    },

    {
      title: 'Asesoría legal personalizada y eficiente',
      description:
        'Presentamos un sistema intuitivo que organiza casos legales, consultas previas y soluciones destacadas, ideal para abogados y consultores que buscan ofrecer servicios eficientes.',
      icon: 'tabler:writing',
    },
    {
      title: 'Consultas rápidas y seguimiento de casos en línea',
      description: `Nuestras consultas están diseñadas para resolver problemas legales de manera rápida y efectiva, con seguimiento en tiempo real para mayor tranquilidad.`,
      icon: 'tabler:podium',
    },
    {
      title: 'Respuestas legales rápidas con tecnología avanzada',
      description: `ArxaTEC asegura tiempos de respuesta rápidos y una experiencia fluida, optimizando la consulta legal para una asesoría eficiente y profesional.`,
      icon: 'tabler:rocket',
    },
    {
      title: 'Estructura optimizada para consultas laborales',
      description: `Siguiendo las mejores prácticas, nuestras consultas claras y organizadas mejoran la visibilidad en buscadores, facilitando el acceso a los servicios jurídicos.`,
      icon: 'tabler:eyeglass',
    },
  ]}
  
/>

 

  <!-- Content Widget **************** -->

  

  <!-- Content Widget **************** -->

  <Content
    id='soluciones'
    isReversed
    items={[
      {
        title: 'Resolución de conflictos laborales',
        description:
          'An intuitive and easy-to-navigate interface that allows users to quickly browse and find the templates they need.',
        icon: 'tabler:wand',
      },
      
      {
        title: 'Optimización de liquidaciones laborales',
        description:
          'Enhance your designs with ready-to-use elements like graphics, icons, and layouts, saving you time and boosting visual appeal.',
        icon: 'tabler:template',
      },
      {
        title: 'Consultas para toda contingencia laboral',
        description: 'Provide a preview of each template, allowing users to see how it looks before making a purchase.',
        icon: 'tabler:carousel-horizontal',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1576153192621-7a3be10b356e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1674&q=80',
      alt: 'Colorful Image',
    }}
    callToAction={{
      target: '_blank',
      text: 'Ver todas las soluciones que ofrecemos',
      href: '/services',
      icon: 'tabler:chevron-right',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Soluciones Practicas</h3>
    </Fragment>
  </Content>


  <!-- Content Widget **************** -->

  <!-- <Content
    isReversed
    isAfterContent
    items={[
      {
        title: 'Enhanced user engagement',
        description:
          'Captivate your audience with interactive elements, intuitive navigation, and visually appealing layouts, encouraging longer visits.',
      },
      {
        title: 'Continuous improvement',
        description:
          'Ensure your website stays aligned with the latest trends and technologies through regular updates and enhancements.',
      },
      {
        title: 'Time and resource efficiency',
        description:
          'Skip the time-consuming process of building a website from scratch and launch your online presence sooner with AstroWind.',
      },
      {
        title: 'Community support',
        description: `Join the growing AstroWind community for insights, resources, and assistance, ensuring you're never alone on your web development journey.`,
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1611462985358-60d3498e0364?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Astronauts Image',
    }}
  >
    <Fragment slot="content">Designed to foster growth and success.</Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content> -->

  <!-- Steps Widget ****************** -->

  <Steps
  title="Realiza tu consulta legal en línea de manera rápida y eficiente con ArxaTEC."
  id='pasos'
  items={[
    {
      title: 'Paso 1: <span class="font-medium">Registro</span>',
      description:
        "Crea tu cuenta en ArxaTEC. Proporciona tus datos personales y confirma tu correo electrónico para acceder a todas las funcionalidades de la plataforma. En pocos minutos estarás listo para realizar tus consultas legales.",
      icon: 'tabler:user-plus',
    },
    {
      title: 'Paso 2: <span class="font-medium">Accede a tu Dashboard</span>',
      description:
        "Una vez registrado, ingresa a tu panel de control donde podrás gestionar tus consultas. Desde este espacio puedes ver el estado de consultas anteriores, registrar nuevas consultas y acceder a toda la información de tu cuenta.",
      icon: 'tabler:layout-dashboard',
    },
    {
      title: 'Paso 3: <span class="font-medium">Registrar consulta</span>',
      description:
        'Desde el dashboard, selecciona la opción "Nueva Consulta". Rellena los campos requeridos, describiendo tu caso y proporcionando la información relevante. Nuestro equipo de abogados especializados analizará tu situación y te brindará asesoría personalizada.',
    icon: 'tabler:note',
    },
    {
      title: 'Listo! <span class="font-medium">Registrar consulta</span>',
      description: 'Tu consulta ha sido registrada. Recibirás una respuesta en breve, y podrás hacer seguimiento a través del dashboard.',
      icon: 'tabler:check',
    },
  ]}
  image={{
    src: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
    alt: 'Realiza consultas en línea con ArxaTEC',
  }}

  callToAction={{
      target: '_blank',
      text: 'Empezar con tu primera consulta',
      href: 'https://github.com/onwidget/astrowind',
      icon: 'tabler:chevron-right',
    }}
    
/>

  <Features2
    title="Servicios legales laborales"
    subtitle="ArxaTEC ofrece una variedad de servicios especializados en el área laboral"
    tagline="Servicios"
    id='servicios'
    items={[
      {
        title: 'Asesoría en despidos',
      description:
        'Los empleados pueden usar ArxaTEC para resolver disputas laborales con asesoría legal especializada.',
        icon: 'flat-color-icons:template',
      },
      {
        title: 'Jornada de Trabajo',
        description:
          "Picture a superhero landing – epic, right? That's the job of a Hero section, making grand entrances!",
        icon: 'flat-color-icons:gallery',
      },
      {
        title: 'Remuneración',
        description:
          'Where websites strut their stuff and show off superpowers. No holding back on the bragging rights here!',
        icon: 'flat-color-icons:approval',
      },
      {
        title: 'Vacaciones',
        description:
          "Dive into the meat and potatoes of a site; without it, you'd just be window shopping. Content is king.",
        icon: 'flat-color-icons:document',
      },
      {
        title: 'Terminación de la Relación Laboral',
        description:
          'That enthusiastic friend who\'s always urging, "Do it! Do it!"? Yeah, that\'s this button nudging you towards adventure.',
        icon: 'flat-color-icons:advertising',
      },
      {
        title: 'Seguridad y Salud en el Trabajo',
        description: 'Behold the dessert menu of the website world. Tempting choices await, can you resist?',
        icon: 'flat-color-icons:currency-exchange',
      },
      {
        title: 'Seguridad Social',
        description: 'Step into the gossip corner! Here, other visitors spill the beans and share the juicy details.',
        icon: 'flat-color-icons:voice-presentation',
      },
      {
        title: 'Derecho Colectivo del Trabajo',
        description:
          'Like a digital mailbox, but faster! Drop a line, ask a question, or send a virtual high-five. Ding! Message in.',
        icon: 'flat-color-icons:business-contact',
      },
      {
        title: 'Consultas en línea',
        description: "The footer's like the credits of a movie but sprinkled with easter eggs. Time to hunt!",
        icon: 'flat-color-icons:database',
      },
      
    ]}
     callToAction={{
      target: '_blank',
      text: 'Ver todos los servicios',
      href: 'https://github.com/onwidget/astrowind',
      icon: 'tabler:chevron-right',
    }}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>


  
  <!-- Precios ************** -->

  <Pricing
  title="Planes de precios flexibles"
  id='precios'
  prices={[
    {
      title: 'Freemium',
      subtitle: 'Acceso a consultas básicas y revisión de contratos laborales',
      price: '0',
      period: '/ mes',
      items: [
        {
          description: 'Hasta 2 consultas básicas al mes',
        },
        {
          description: 'Revisión de hasta 2 contratos laborales',
        },
        {
          description: 'Acceso a recursos educativos limitados',
        },
        {
          description: 'Soporte por correo electrónico',
        },
      ],
      callToAction: {
        target: '_blank',
        text: 'Comienza Gratis',
        href: 'https://web.whatsapp.com/send?phone=51970780460&text=Hola,%20estoy%20interesado%20en%20el%20plan%20Freemium%20de%20ArxaTEC',
      },
    },
    {
      title: 'Básico',
      subtitle: 'Asesoría avanzada y gestión de conflictos laborales',
      price: 49.90,
      period: '/ mes',
      items: [
        {
          description: 'Hasta 5 consultas amplias al mes',
        },
        {
          description: 'Revisión de contratos laborales sin límite',
        },
        {
          description: 'Acceso a todos los recursos educativos',
        },
        {
          description: 'Soporte telefónico durante horario laboral',
        },
      ],
      callToAction: {
        target: '_blank',
        text: 'Mejorar a Profesional',
        href: 'https://web.whatsapp.com/send?phone=51970780460&text=Hola,%20estoy%20interesado%20en%20el%20plan%20Básico%20de%20ArxaTEC',
      },
      hasRibbon: true,
      ribbonTitle: 'más popular',
    },
    {
      title: 'Premium',
      subtitle: 'Soluciones personalizadas con más funcionalidades',
      price: 99.90,
      period: '/ mes',
      items: [
        {
          description: 'Consultas ilimitadas y personalizadas',
        },
        {
          description: 'Revisión de contratos laborales y documentos complejos',
        },
        {
          description: 'Asesoría legal proactiva y seguimiento de casos',
        },
        {
          description: 'Acceso prioritario a webinars y eventos exclusivos',
        },
      ],
      callToAction: {
        target: '_blank',
        text: 'Funciones Corporativas',
        href: 'https://web.whatsapp.com/send?phone=51970780460&text=Hola,%20estoy%20interesado%20en%20el%20plan%20Premium%20de%20ArxaTEC',
      },
    },
  ]}
/>





  <!-- FAQs Widget ******************* -->

  <FAQs
  title="Preguntas Frecuentes"
  subtitle="Resuelve tus dudas sobre cómo ArxaTEC puede ayudarte a resolver tus problemas legales laborales de manera eficiente y accesible."
  tagline="FAQs"
  classes={{ container: 'max-w-6xl' }}
  id='faq'
  items={[
    {
      title: '¿Qué servicios ofrece la plataforma?',
      description:
        'Ofrecemos una gama de servicios, que incluyen: Asesoría legal en línea para consultas laborales, tramitación de reclamos laborales, calculadoras legales para liquidaciones, horas extras y beneficios sociales, generación automática de documentos legales, capacitación en derechos laborales a través de cursos y webinars, servicio de primeros auxilios legales en emergencias laborales.',
    },
    {
      title: '¿Cómo puedo registrar una consulta en ArxaTEC?',
      description:
        'Primero, debes crear una cuenta. Luego, desde tu panel de usuario, podrás ingresar los detalles de tu caso para que un abogado especializado en derecho laboral lo revise y te asesore.',
    },
    {
      title: '¿Qué tipo de consultas laborales puedo realizar?',
      description:
        'Puedes hacer consultas sobre temas como despidos, contratos laborales, acoso en el trabajo, pagos de beneficios, horas extras, y cualquier otro tema relacionado con el derecho laboral.',
    },
    {
      title: '¿La asesoría legal está disponible las 24 horas del día, los 7 días de la semana?',
      description:
        'Sí, contamos con asistencia legal continua para responder tus consultas en cualquier momento.',
    },
    {
      title: '¿Qué es el servicio de primeros auxilios legales?',
      description:
        'Este servicio brinda orientación legal inmediata para situaciones de emergencia laboral, como despidos injustificados, acoso laboral o accidentes en el trabajo, indicándote los primeros pasos a seguir.',
    },
    {
      title: '¿Cuánto tiempo tarda en responder un abogado?',
      description:
        'Las consultas básicas se responden de manera inmediata. Para consultas más complejas, el plazo de respuesta es de hasta 24 horas.',
    },
    
  ]}
  callToAction={{
    target: '_blank',
    text: 'Ver todas las preguntas frecuentes',
    href: 'https://github.com/onwidget/astrowind',
    icon: 'tabler:chevron-right',
  }}
/>

<Testimonials
  title="Lo que dicen nuestros usuarios"
  id='testimonios'
  testimonials={[
    {
      testimonial: `El caso lo tenía perdido, pero encontré aquí una opción para que mi proceso continúe, antes de una inicial o una cuenta que en otros estudios me pidieron, aquí me dieron las facilidades. Al día de hoy, el caso ya se ha resuelto`,
      name: 'Zocima Cárdenas Quinto',
      job: 'Testimonio',
      image: {
        src: '~/assets/images/2.png',
        alt: 'Image',
      },
    },
    
    {
      testimonial: `A mi me sacaron del Municipio con una carta de Agradecimiento y gracias a una nombrada que me paso el contacto del Doctor Aguirre y su grupo ahora estoy laburando gracias a su apoyo `,
      name: 'Elsa Quinto',
      job: 'Testimonio',
      image: {
        src: '~/assets/images/3.png',
        alt: 'Carlos Jiménez Image',
      },
    },
    {
      testimonial:
        'Con el grupo Aguirre tengo una experiencia de muchos años y sobre todo es la confianza y la seguridad que tenemos con los buenos resultados, ahora ha credido y reitero mi admiracion  y mi gratitud.',
      name: 'Erika Pinto Canchanya',
      job: 'Testimonio',
      image: {
        src: '~/assets/images/4.png',
        alt: 'Laura González Image',
      },
    },
  ]}
  callToAction={{
    target: '_blank',
    text: 'Ver todos los testimonios',
    href: 'https://github.com/onwidget/astrowind',
    icon: 'tabler:chevron-right',
  }}
  />

  <!-- Stats Widget ****************** -->

  <BlogLatestPosts
    title="Contenido en nuestros talleres gratuitos"
    information={`Explora nuestro blog para obtener consejos prácticos sobre derecho laboral. Mejora tu conocimiento y resuelve conflictos laborales con herramientas clave. ¡Sigue aprendiendo con ArxaTEC!`}
  />

  <!-- CallToAction Widget *********** -->


  <CallToAction
  id="download"
  title="¡Próximamente disponible!"
  subtitle="Estamos trabajando para brindarte una app que te permitirá acceder a recursos legales de manera fácil y rápida. ¡Pronto podrás descargarla!"
  >
  <div slot="actions" class="flex max-w-sm gap-4">
    <Button variant="link" href={appStoreDownloadLink}>
      <Image src={appStoreImg} alt="Imagen de la App Store" width={200} />
    </Button>
  
    <Button variant="link" href={googlePlayDownloadLink}>
      <Image src={googlePlayImg} alt="Imagen de Google Play" width={200} />
    </Button>
  </div>
  
  </CallToAction>



  
</Layout>

<WhatsApp>
