---
import CallToAction from '~/components/widgets/CallToAction.astro';
import Content from '~/components/widgets/Content.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Hero from '~/components/widgets/Hero.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import Layout from '~/layouts/PageLayout.astro';

import Button from '~/components/ui/Button.astro';
import Image from '~/components/common/Image.astro';

const appStoreImg = '~/assets/images/app-store.png';
const appStoreDownloadLink = 'https://github.com/onwidget/astrowind';

const googlePlayImg = '~/assets/images/google-play.png';
const googlePlayDownloadLink = 'https://github.com/onwidget/astrowind';

const metadata = {
  title: 'Soluciones Practicas',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="Services"
    title="Soluciones Practicas"
    subtitle="Descubre cómo la plataforma versátil de Arxatec ofrece soluciones legales personalizadas, adaptándose a diferentes situaciones para garantizar el éxito."
    actions={[{ variant: 'primary', target: '_blank', text: 'Iniciar con una consulta', href: 'https://arxatec.net/auth/views/login.php' }]}
   
  />

  <!-- Features2 Widget ************** -->

  <!-- <Features2
    title="Explore our diverse templates"
    subtitle="Discover our selection below to streamline and elevate your projects."
    columns={3}
    items={[
      {
        title: 'Educational',
        description:
          'By harmonizing instructional design and visual appeal, templates streamline content creation for varied materials, expediting development and cultivating engaging educational spaces.',
        icon: 'tabler:school',
      },
      {
        title: 'Interior Design',
        description:
          'Crafting functional, visually appealing spaces for residential and commercial use. Templates emphasize layout, colors, and furniture setups, offering a versatile toolkit for your design vision.',
        icon: 'tabler:home-star',
      },
      {
        title: 'Photography',
        description: `Empowering photographers, our templates facilitate captivating storytelling. With a keen focus on layout, galleries, and typography, they cater to both professionals and enthusiasts.`,
        icon: 'tabler:photo',
      },
      {
        title: 'E-commerce',
        description:
          'Developing engaging online stores, our E-commerce templates ensure a dynamic presence to effectively showcase products. Ideal for startups or revamps.',
        icon: 'tabler:shopping-cart',
      },
      {
        title: 'Blog',
        description:
          'With attention to typography, these templates empower effective content presentation for writers at any stage, ensuring visually engaging and user-friendly blogs.',
        icon: 'tabler:article',
      },
      {
        title: 'Business',
        description:
          'Providing polished options for effective visual communication, these templates empower both startups and established companies for a professional brand presence.',
        icon: 'tabler:building-store',
      },
      {
        title: 'Branding',
        description:
          'Offering pre-designed elements for a consistent brand identity, including logos and marketing materials. Ideal for new ventures or revamps.',
        icon: 'tabler:arrow-big-up-lines',
      },
      {
        title: 'Medical',
        description: `From presentations to patient forms, these tools enhance communication effectiveness for healthcare professionals. Ideal for medical practices and research pursuits.`,
        icon: 'tabler:vaccine',
      },
      {
        title: 'Fashion Design',
        description:
          'With attention to detail, customization, and contemporary design, they empower designers to showcase ideas cohesively. Ideal for all levels of designers.',
        icon: 'tabler:tie',
      },
    ]}
  /> -->

  <!-- Content Widget **************** -->

  <Content
    isReversed
    items={[
      {
        title: 'Resolución de conflictos laborales',
        description:
          'Los empleados pueden usar Arxatec para resolver disputas laborales con asesoría legal especializada. Los abogados brindan guía para solucionar problemas como incumplimiento de contratos y condiciones injustas, agilizando la resolución y protegiendo sus derechos.',
        icon: 'tabler:wand',
      },
      {
        title: 'Monitoreo y seguimiento de procesos judiciales laborales',
        description:
          'Con Arxatec, los trabajadores pueden hacer seguimiento a sus casos judiciales laborales, manteniendo un registro actualizado del estado de sus procesos, plazos y documentos requeridos, permitiendo una gestión más eficaz.',
        icon: 'tabler:settings',
      },
      {
        title: 'Optimización de liquidaciones laborales',
        description:
          'La plataforma facilita la consulta y cálculo de liquidaciones laborales, garantizando que los pagos por despido, renuncia o jubilación sean justos y acorde a la normativa, tanto para empleados como empleadores.',
        icon: 'tabler:presentation',
      },

    ]}
    image={{
      src: 'https://plus.unsplash.com/premium_photo-1698084059448-5bdc536e083a?w=400&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDE4fHx8ZW58MHx8fHx8',
      alt: 'Features Image',
    }}
  >
  
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    items={[
      {
        title: 'Consultas para toda contingencia laboral',
        description:
          'Un trabajador utiliza Arxatec para consultar sobre una contingencia laboral, como un despido injusto. La plataforma le conecta con un abogado especializado, quien le brinda asesoría en tiempo real y le indica los pasos legales a seguir.',
        icon: 'tabler:clock',
      },
      {
        title: 'Asesoría para mejorar tu contrato de trabajo',
        description:
          'Los trabajadores utilizan Arxatec para recibir asesoría legal personalizada en la mejora de sus contratos laborales. Con la plataforma, pueden resolver dudas rápidamente y asegurarse de que sus contratos cumplan con la normativa vigente.',
        icon: 'tabler:school',
      },
      {
        title: 'Asesoramiento y seguimiento en accidentes de trabajo',
        description:
          'Un usuario que ha recibido una sentencia favorable en un caso de indemnización laboral accede a Arxatec para dar seguimiento al cumplimiento de la misma. Puede consultar actualizaciones de su caso y recibir notificaciones sobre los avances legales.',
        icon: 'tabler:coin',
      },
      
    ]}
    image={{
      src: 'https://plus.unsplash.com/premium_photo-1694088516834-6fa55faab454?w=400&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTd8fGxlZ2FsfGVufDB8fDB8fHww',
      alt: 'Benefits Image',
    }}
  >
  
  </Content>


  <!-- CallToAction Widget *********** -->

  <CallToAction
  id="download"
  title="¡Próximamente disponible!"
  subtitle="Estamos trabajando para brindarte una app que te permitirá acceder a recursos legales de manera fácil y rápida. ¡Pronto podrás descargarla!"
  >
  <div slot="actions" class="flex max-w-sm gap-4">
    <Button variant="link" href={appStoreDownloadLink}>
      <Image src={appStoreImg} alt="Imagen de la App Store" width={200} />
    </Button>
  
    <Button variant="link" href={googlePlayDownloadLink}>
      <Image src={googlePlayImg} alt="Imagen de Google Play" width={200} />
    </Button>
  </div>
  
  </CallToAction>
</Layout>
